extends layout

block content

	nav(class='navbar navbar-inverse navbar-fixed-top')
		div(class='container-fluid')
			div(class='navbar-header')
				button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='#mynavbar')
					span(class='icon-bar')
					span(class='icon-bar')
					span(class='icon-bar')
				a(class='navbar-brand' href='/') freescraper 
			div(class='collapse navbar-collapse' id='mynavbar')
				ul(class='nav navbar-nav')
					li(class='active')
						a(href='/') Home
					li
						a(href='/search') Search
					li
						a(href='/about') About
					li
						a(href='/donate') Donate
					li
						a(href='/gettheapp') Get the app


	div(class='container')
		h1= title
		p Freescraper is an open source project aiming to make freecycle easier to use, and better for everyone. Quickly see the things listed near you, or do a more detailed search.

	div(class='container' style='margin-top:50px')
		include search_view.jade


	div(class='panel panel-primary')
		div(class='panel-heading') All the groups being monitored
			
		div(class='panel-body')
			div
				ul
					each val in groups
						li(style='width:25%;float:left;') 
							a(href='/group/#{val.title}') #{val.title}


		div(class='panel-footer')
			p(class='item_details') Choose a group and see what's being offered.

		
		//p You can find the groups near you and see whats being offered. Or you can search for items near you regardless of the group


	div(class='panel panel-primary')
		div(class='panel-heading') Find a group near you
			
		div(class='panel-body')
			div
				div(id='map_container' style='width:100%;height:700px')
				
		div(class='panel-footer')
			p(class='item_details') Choose a group and see what's being offered.

		
		//p You can find the groups near you and see whats being offered. Or you can search for items near you regardless of the group

	script(src='/javascripts/freescrapermap.js')

	div(class='container')
		p(style='width:300px;margin:0 auto;text-align:center') © 2017 Darren Dignam