extends layout

block content
  h1= title
  p(style='white-space:pre;font-family:monospace;font-weight:bold;font-size:75%')
    |     ________ .-------.        .-''-.      .-''-.     .-'''-.     _______   .-------.       ____    .-------.     .-''-.  .-------.     
    |    |        ||  _ _   \     .'_ _   \   .'_ _   \   / _     \   /   __  \  |  _ _   \    .'  __ `. \  _(`)_ \  .'_ _   \ |  _ _   \    
    |    |   .----'| ( ' )  |    / ( ` )   ' / ( ` )   ' (`' )/`--'  | ,_/  \__) | ( ' )  |   /   '  \  \| (_ o._)| / ( ` )   '| ( ' )  |    
    |    |  _|____ |(_ o _) /   . (_ o _)  |. (_ o _)  |(_ o _).   ,-./  )       |(_ o _) /   |___|  /  ||  (_,_) /. (_ o _)  ||(_ o _) /    
    |    |_( )_   || (_,_).' __ |  (_,_)___||  (_,_)___| (_,_). '. \  '_ '`)     | (_,_).' __    _.-`   ||   '-.-' |  (_,_)___|| (_,_).' __  
    |    (_ o._)__||  |\ \  |  |'  \   .---.'  \   .---..---.  \  : > (_)  )  __ |  |\ \  |  |.'   _    ||   |     '  \   .---.|  |\ \  |  | 
    |    |(_,_)    |  | \ `'   / \  `-'    / \  `-'    /\    `-'  |(  .  .-'_/  )|  | \ `'   /|  _( )_  ||   |      \  `-'    /|  | \ `'   / 
    |    |   |     |  |  \    /   \       /   \       /  \       /  `-'`-'     / |  |  \    / \ (_ o _) //   )       \       / |  |  \    /  
    |    '---'     ''-'   `'-'     `'-..-'     `'-..-'    `-...-'     `._____.'  ''-'   `'-'   '.(_,_).' `---'        `'-..-'  ''-'   `'-'   
  p Welcome to FreeScraper - A handy utility to help search through freecycle listings
  p There are various versions of the tool, that produce differnt results. But generally you will get a list of links that will take you to the actual item listing on freecycle. Use the links below to generate the listings. The tool has been developed with london in mind. But this code is open source, so please use it as you see fit. It was hurriedly created in NodeJS to meet a very specific searching need, and has been released into the wild due to popular demand. Get a copy from github!
  h3 These are the main scripts:
  ul
    li: a(href="fc_2", title="All of London" target="_blank") All of London
    li: a(href="fc_6", title="Detailed look around north london" target="_blank") Detailed look around some North London groups
  h3 Detailed listings of some group pages - these links are a bit experimental and can cause memory issues on the server and bug out...
  ul
    li: a(href="fc_3?target=http://groups.freecycle.org/HaringeyUK", title="Haringey Detailed" target="_blank") Haringey Detailed
    li: a(href="fc_3?target=http://groups.freecycle.org/CamdenSouthUK", title="Camden South Detailed" target="_blank") Camden South Detailed
    li: a(href="fc_3?target=http://groups.freecycle.org/HackneyUK", title="Hackney Detailed" target="_blank") Hackney Detailed
    li: a(href="fc_3?target=http://groups.freecycle.org/CityOfLondon", title="General London Group" target="_blank") General London Group
  div
    h3 Use this form to get a detailed listing of any freecycle group
    p Paste the group page URL and see the result. The last few links above use this method...
    form(action='/fc_3',method='get',target='_blank')
      input(id='target',type='text',value='',placeholder='freecycle group page',name='target')
      button(type="submit", value="GO!") GO!!
      p Try something like 
        strong http://groups.freecycle.org/HaringeyUK  
        a(href='https://www.freecycle.org/browse/UK/London' target='_blank' title='freecycle London groups') You can get more links from freecycle London groups
  p This is an open source project released with the GPLv3 license. The source code is avaliable over at (https://github.com/darrendignam/FreeScraper)
  p(style='width:300px;margin:0 auto;') © 2017 Darren Dignam
