div(class='row')
	div(class='col-sm-4')
		div(class='panel panel-primary')
			div(class='panel-heading') Search by group
				
			div(class='panel-body')
				div
					input(name='input_search_group_picker' id='input_search_group_picker' placeholder='Group')
					input(name='input_search_term' id='input_search_term' placeholder='Search term')
					<br>
					input(type='button' name='button_search_group' id='button_search_group' value='Search')

			div(class='panel-footer')
				p(class='item_details') Choose a group and a search term.
					

	div(class='col-sm-4')
		div(class='panel panel-primary')
			div(class='panel-heading') Search by location
				
			div(class='panel-body')
				div
					input(name='input_search_address' id='input_search_address' placeholder='Address')
					input(name='input_search_term_location' id='input_search_term_location' placeholder='Search term')
					<br>
					input(type='button' name='button_search_location' id='button_search_location' value='Search')
					
			div(class='panel-footer')
				p(class='item_details') Find listings near your address
					

													
	div(class='col-sm-4')
		div(class='panel panel-primary')
			div(class='panel-heading') Show all by group
				
			div(class='panel-body')
				div
					input(name='input_search_group' id='input_search_group' placeholder='Search groups')
					//-button(name='button_search_group' id='button_search_group')
					
			div(class='panel-footer')
				p(class='item_details') Have a peek at what's going on near you.
					