//- Freescraper main worker displays results :)

extends ../layout

block content

	nav(class='navbar navbar-inverse navbar-fixed-top')
		div(class='container-fluid')
			div(class='navbar-header')
				button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='#mynavbar')
					span(class='icon-bar')
					span(class='icon-bar')
					span(class='icon-bar')
				a(class='navbar-brand' href='/') searchfree 
			div(class='collapse navbar-collapse' id='mynavbar')
				ul(class='nav navbar-nav')
					li
						a(href='/') Home
					li(class='active')
						a(href='/search') Search
					li
						a(href='/about') About
					li
						a(href='/donate') Donate
					li
						a(href='/gettheapp') Get the app
  
	div(class='container') 
		h1= title
		table(class='table table-striped table-hover')
			-i=0
			each val in groups
				-i++
				tr
					td
						=i
					td 
						//- =val.title
						a(href='/api/group/#{val.title}' target='_blank' style='color:lightblue')=val.title
					td(class='item_details')
						p
							=val.region
						p
							=val.locationGPS
						p
							a(href=val.url target='_blank' style='color:lightblue')=val.url
							

							


	p(style='width:300px;margin:0 auto;text-align:center') searchfree © 2017 Darren Dignam